<%- include('./partials/header.ejs')%>
<div class="content">
    <div class="center-container">
        <div class="event-heading">
            <h3 class="dis-in-bl">About Us</h3>
        </div>
    </div>
</div>
<div class="Am-60">
    <p text-align="left">Welcome to Niner Film Trade.</p>
    <p text-align="left">Niner Film Trade is a platform to Trade Films with movie enthusiasts.</p>
    <p text-align="left">This is an application developed using MVC architecture.</p>
</div>        
<%- include('./partials/footer.ejs')%>  