<%- include('./partials/header.ejs')%>
<div class="content">
    <div class="center-container">
        <div class="event-heading">
            <h3 class="dis-in-bl">Contact Us</h3>
        </div>
    </div>
</div>
<div class="Am-60">
    <p text-align="left">Platform hosted and developed by : Mandev Doshi</p>
    <p text-align="left">Phone : (704)-819-7581</p>
    <p text-align="left">Email : mdoshi8@uncc.edu</p>
</div>        
<%- include('./partials/footer.ejs')%>  