<%- include('./partials/header.ejs')%>
        <div class="center-container-index">
            <h1 > Niner Film Trade</h1>
            <div class="m-60">
                <p align="justify" width="50px" style="font-family: Arial, Helvetica, sans-serif; font-size: larger ; ">Welcome to our film trading website, the ultimate destination for film enthusiasts! 
                    We offer a wide selection of films from all genres and eras, including classic films,
                    indie films, and the latest blockbuster releases. Our easy-to-use website allows you to 
                    search for films by category, title, director or description. We also have 
                    a large community of film traders who can help you find that hard-to-find film you've
                    been searching for. With new films added daily and competitive pricing, our website is
                        the perfect place to build your film collection. Start browsing now and discover your new favorite films! </p>
            </div>        

        </div>

 <%- include('./partials/footer.ejs')%>  
